In [5]:
import pandas as pd
import scipy as sc
import numpy as np
import sklearn
import pickle
import pathlib as Path
import matplotlib.pyplot as plt
import japanize_matplotlib
import seaborn as sb
sb.set(font='IPAexGothic')

import multiprocessing
import itertools
import collections
import datetime
import gc

from tqdm._tqdm_notebook import tqdm

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_columns', 50)

data_path = Path.Path("../data")
result_path = Path.Path("../result")

prefix = 'ana999'

In [6]:
# 実行年月日
time_df = datetime.datetime.now()
yyyymmdd = str(time_df.year) + str(time_df.month).zfill(2) + str(time_df.day).zfill(2) + str(time_df.hour).zfill(2) + str(time_df.minute).zfill(2)
yyyymmdd

'202105161712'

# データ抽出

In [7]:
# 抽出するデータ名
# name_df = "ana401_pred_lgbm_df.pkl"
name_df = "ana500_pred_stacking_df.pkl"

In [8]:
df = pd.read_pickle(data_path / name_df)

In [9]:
df

          id  flg_train  mode  stck
0          0          1   0.0   0.0
1          1          1   0.0   0.0
2          2          1   0.0   0.0
3          3          1   0.0   2.0
4          4          1   4.0   4.0
...      ...        ...   ...   ...
54203  33803          0   0.0   0.0
54204  33804          0   1.0   1.0
54205  33805          0   0.0   2.0
54206  33806          0   1.0   1.0
54207  33807          0   0.0   0.0

[54208 rows x 4 columns]

# データ加工
> ・テストデータのみ <br>
> ・予測結果をyに名称変更 <br>
> ・idとyのみ <br>

In [10]:
csv = df[
            # テストデータを抽出
            df['flg_train'] == 0
    
        ].drop(
        
            # データ分割フラグを削除
            ['flg_train', 'mode'], axis=1

        ).set_index(
    
            # インデックスを削除（idを設定）  
            'id'
    
        ).rename(
    
            # 名称を変更
            columns={'stck':'y'}

        )
csv

         y
id
0      0.0
1      1.0
2      1.0
3      1.0
4      0.0
...    ...
33803  0.0
33804  1.0
33805  2.0
33806  1.0
33807  0.0

[33808 rows x 1 columns]

# CSV出力

In [11]:
# csv.to_csv(result_path / ("%s_pred_mode_%s.csv" % (prefix, yyyymmdd)))
csv.to_csv(result_path / ("%s_pred_stck_%s.csv" % (prefix, yyyymmdd)))